body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  color: #fff;
  padding: 10px;
}

h2 {
  text-align: center;
  position: relative;
  margin-top: 5rem;
}

h4 {
  color: #fff;
  text-align: center;
}

.box {
  max-width: 600px;
  margin: 5rem auto;
  background: #ecedee;
  border-radius: 10px;
  box-shadow: 1rem 2rem 2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.btn-delete {
  margin-left: 14px;
}

.time-weather-form {
  background-color: red;
  width: 600px;
}

.text-time {
  background-color: #f0932b;
  text-align: center;
  color: #fff;
  width: 15rem;
  height: 4rem;
  margin-left: 11.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}


.text-weather {
  background-color: #ff7979;
  text-align: center;
  color: #fff;
  margin-left: 3.7rem;
  border-radius: 0.5rem;
  width: 330px;
  font-weight: 600;
}

.weather-form {
  height: 30px;
  text-align: center;
  margin: -1rem;
  margin-left: 5rem;
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
  color: #a683e3;
}

input[type="checkbox"] {
  margin-left: 2.5rem;
}

p {
  margin: 1rem 0 1rem 1.5rem;
  padding: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #00204a;
  width: 430px;
  text-align: left;
}

form.item {
  margin-left: 20px;
}

button {
  min-height: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #6ab04c;
  color: #fff;
  font-size: 30px;
  margin: 0 10px 10px 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 25rem;
  margin: 0 10px 10px 0;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 1px #6ab04c;
  margin-right: 10px;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: 600;
  margin: 2rem 10rem;
}